body {
    font-family:  "Helvetica";
    margin: 0;
    padding: 0;
}

p {
    font-family: "Helvetica", sans-serif; 
}

.larger-text {
    font-size: 1.2em;
    font-family: "Helvetica", sans-serif; 
}
.caption{
    font-size: 1em;
    font-family: "Helvetica", sans-serif; 
    text-align: center;
}
h2 {
    font-weight: bold;
    font-family: "Futura", sans-serif; 
    font-size: 1.2em; 
}

h1 {
    font-weight: bold;
    font-family: "Futura-Medium", sans-serif; 
    font-size: 3em; 
    
}


.case-study-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}



.case-study-image-larger {
    max-width: 80%; /* Adjust the percentage as needed */
    height: auto;
    margin: 20px auto;
    display: block;
}


.hifiimg-container {
    width: 100%; /* Ensure the container takes full width */
    display: flex;
    justify-content: center; /* Align items horizontally */
    align-items: center; /* Align items vertically */
}


.hifiimg {
    display: block;
    margin: 0 auto;
    max-width: 50%;
    height: auto;
    width: auto;
}

.highlight-section {
    background-color: #182552; 
    color: #fff; 
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.feedback {
    background-color: #4b1307; 
    color: #fff; 
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.outline{
    border: 2px solid #182552;
    padding: 20px;
}
.vid{
    max-width: 100%;
}