body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: transparent;
    padding: 20px; /* Adjusted padding */
    margin-bottom: 20px; /* Added margin to separate from content */
}


nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

nav ul li a:hover {
    text-decoration: underline;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.container h1 {
    margin-top: 0;
}

.container p {
    margin-bottom: 20px;
}

.case-study-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}


nav ul {
    padding-left: 150px; /* Adjusted padding to align with content */
}

.hifiimg {
    display: block;
    margin: 0 auto;
    max-width: 50%;
    height: auto;
    width: auto;
}
