body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}



.case-study-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
}

.case-study-card:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.case-study-card h3,
.case-study-card p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    color: white;
}

.case-study-card:hover h3,
.case-study-card:hover p {
    opacity: 1;
}

/* .case-study-card a {
    text-decoration: none;
} */

.imageUrl{
    max-width: 400px;
}

