body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: transparent;
    padding: 100px; /* Adjusted padding */
    margin-top: 50px;
    margin-left: 150px;
    margin-bottom: 20px; /* Added margin to separate from content */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}


nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

nav ul li a:hover {
    text-decoration: underline;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0px;
}

.container h1 {
    margin-top: 0;
}

.container h2 {
    margin-top: 0;
}

nav ul {
    margin: 0;
    padding: 0;
    margin-top: 0; /* Reset top margin */
    margin-left: 170px; /* Adjusted margin to align with content */
}
.headshot {
    max-width: 400px; /* Set maximum width for the headshot */
    height: auto; /* Automatically adjust height to maintain aspect ratio */
    margin-bottom: 20px; /* Add margin to separate from other content */
}

